In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
happiness_report = pd.read_csv('Downloads\worldwide_happiness_report.csv')

In [3]:
happiness_report.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226

In [4]:
happiness_report.drop(['Overall rank', 'Score', 'Generosity', 'Perceptions of corruption'], axis=1 , inplace=True)

In [5]:
happiness_report.set_index('Country or region', inplace=True)

In [6]:
happiness_report.head(10)

,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices
Country or region,,,,
Finland,1.340,1.587,0.986,0.596
Denmark,1.383,1.573,0.996,0.592
Norway,1.488,1.582,1.028,0.603
Iceland,1.380,1.624,1.026,0.591
Netherlands,1.396,1.522,0.999,0.557
Switzerland,1.452,1.526,1.052,0.572
Sweden,1.387,1.487,1.009,0.574
New Zealand,1.303,1.557,1.026,0.585
Canada,1.365,1.505,1.039,0.584
Austria,1.376,1.475,1.016,0.532

In [7]:
happiness_report.shape

(156, 4)

In [8]:
happiness_report.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, Finland to South Sudan
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GDP per capita                156 non-null    float64
 1   Social support                156 non-null    float64
 2   Healthy life expectancy       156 non-null    float64
 3   Freedom to make life choices  156 non-null    float64
dtypes: float64(4)
memory usage: 6.1+ KB

In [9]:
happiness_report.describe(include='all')

,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices
count,156.000000,156.000000,156.000000,156.000000
mean,0.905147,1.208814,0.725244,0.392571
std,0.398389,0.299191,0.242124,0.143289
min,0.000000,0.000000,0.000000,0.000000
25%,0.602750,1.055750,0.547750,0.308000
50%,0.960000,1.271500,0.789000,0.417000
75%,1.232500,1.452500,0.881750,0.507250
max,1.684000,1.624000,1.141000,0.631000

In [10]:
happiness_report.to_csv("Downloads\happiness_report.csv")